# ignore patterns
#
# if you add new things you need to reset the tracking
# make sure everything is committed
#
# git rm -r --cached .
# git add .
# git commit -m ".gitignore has been modified"
# 
#
*~
# Objects and executable
*.o
*.d
*.a
*.bak
*.pyf
*.so
*.so.dSYM
Untitled.*
.DS_Store
__pycache__
.ipynb_checkpoints
*.mod
*.npz
*.pyc
